<div class="search-field">
  <form class="form-inline my-2 my-lg-0">
    <%= link_to "Create Listing", new_vinyl_path, class: "tn btn-outline-success my-2 my-sm-0" %>
  </form>
</div>

<div class="row">
  <% @vinyls.each do |vinyl| %>
  <div class="col-md-4">
    <div class="card" style="width: 18rem">
      <%= cl_image_tag(vinyl.image.key, crop: :scale, width: 200, cloud_name: 'jbradz') if vinyl.image.attached? %>
      <div class="card-body">
        <h5 class="card-title"><%= vinyl.title %></h5>
        <p class="card-text"><%= vinyl.description %></p>
        <p class="card-text"><%= vinyl.price %></p>
        <%= link_to "Look", vinyl_path(vinyl.id), class:"btn btn-primary btn-right" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!--  image_tag vinyl.image(vinyl.key), class: "card-img-top" -->
