<p id="notice"><%= notice %></p>

<% if @vinyl.image.attached? %>
  <p>
    <%= cl_image_tag(@vinyl.image.key, crop: :scale, width: 200, cloud_name: 'jbradz') %>
  </p>
<% end %>


<p>
  <strong>Title:</strong>
  <%= @vinyl.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @vinyl.artist %>
</p>

<p>
  <strong>Label:</strong>
  <%= @vinyl.label %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vinyl.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vinyl.year %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @vinyl.quality %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vinyl.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vinyl.description %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @vinyl.availability %>
</p>

<p>
  <button id="buynow-button">Buy Now!</button>
</p>

<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Back', vinyls_path %>
