<p id="notice"><%= notice %></p>

<% if @vinyl.image.attached? %>
  <p>
    <%= cl_image_tag(@vinyl.image.key, crop: :scale, width: 200, cloud_name: 'jbradz') %>
  </p>
<% end %>


<p>
  <strong>Title:</strong>
  <%= @vinyl.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @vinyl.artist %>
</p>

<p>
  <strong>Label:</strong>
  <%= @vinyl.label %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @vinyl.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vinyl.year %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @vinyl.quality %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vinyl.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vinyl.description %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @vinyl.user.username %>
</p>

<p>
  <button id="buynow-button">Buy Now!</button>
</p>

<script src="https://js.stripe.com/v3/"></script>

<script>
    const stripe = Stripe('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>')
    const buyButton = document.getElementById('buynow-button')

    buyButton.addEventListener('click', function() {
      fetch('<%= buy_path(@vinyl.id) %>', {
        method: 'POST'
      })
      .then(function(response) {
        return response.json()
      })
      .then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id })
      })
    })
</script>

<% if current_user.has_role?(:admin) %>
<%= link_to 'Edit', edit_vinyl_path(@vinyl) %> |
<%= link_to 'Destroy', @vinyl, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', vinyls_path %>

