<div class="row">
<div class="jumbotron">
  <h1 class="display-4">Vinyl Destination</h1>
  <hr class="my-4">
  <p class="lead">
      <div class="col-md-6">
          <%= image_tag "vinyl-svg.png", class: "home-image" %>
      </div>
      <%= link_to "Go Browsing", listing_page_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Create Listing", new_vinyl_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "My Records", vinyls_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Profile", vinyls_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
</div>