<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl Destination</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <div class="container">
    <%= render "partials/navbar" %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
